*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
.flex{
    display: flex;
    flex-direction: column;
    background-color: #374151;
    min-height: 100vh;
    color: white;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 950px;
    height: auto;
}
.block{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.big_title{
    color: #6B7280;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.add_section{
    width: 100%;
}
.add_npt{
    background-color: #1f2937;
    color: #EEE;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem ;
    width: 90%;
    font-size: 1rem;
}
.add_npt::placeholder{
    color: #6B7280;
}
.add_btn{
    color: #ec4899;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.add_btn:hover{
    opacity: 0.8;
}
.add_btn:active{
    opacity: 0.6;
}
.mid_title{
    font-size: 1.5rem;
    color: #6B7280;
    font-weight: 300;
    margin-top: 2rem;
    cursor: pointer;
}
.task_block{
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    max-width: 100%;
    min-width: 100%;
    height: 56px;
    max-height: fit-content;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;
}
.input_value{
    color: #EEE;
    font-size: 1.125rem;
    transition: 0.4s;
    font-weight: bold;
    padding-left: 17px;
    width: 350%;
}
.btns button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: lowercase;
    transition: 0.4S;
}
.btns button:hover{
    opacity: 0.8;
}
.btns button:active{
    opacity: 0.6;
}
.edit{
    color: #ec4899;
}
.delete{
    color: crimson;
}
.done_section{
    display: flex;
    padding-left: 1.5rem;
}
.done{
    width: 20px;
    height: 20px;
    padding-left: 1rem;
}
.none_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.none_card{
    padding: 1rem ;
    background-color: #111827;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.smile{
    position: relative;
    top: 3px;
}
.cross{
    padding: 1rem;
    background-color: #1f2937;
    width: max-content;
    border-radius: 0 1rem 1rem 0;
}
.npt_cross{
    display: flex;
    width: 92%;
}
.flex_crs{
    display: flex;
}
.title{
    display: flex;
    justify-content: space-between;
}
.cross:hover{
    opacity: 0.9;
}
.cross:active{
    opacity: 0.8;
}
.btns{
    width: 15%;
}
.text_npt{
    color: red;
}
.ner1{
    color: red;
}
.mid_title:hover{
    font-weight: bold;
}





.wait{
    border: 1px solid white;
    width: 20px;
}