*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
.flex{
    display: flex;
    flex-direction: column;
    background-color: #374151;
    min-height: 100vh;
    color: white;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 950px;
    height: auto;
}
.block{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.big_title{
    color: #6B7280;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.add_section{
    width: 100%;
}
.add_npt{
    background-color: #1f2937;
    color: #EEE;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem ;
    width: 90%;
    font-size: 1rem;
}
.add_npt::placeholder{
    color: #6B7280;
}
.add_btn{
    color: #ec4899;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.add_btn:hover{
    opacity: 0.8;
}
.add_btn:active{
    opacity: 0.6;
}
.mid_title{
    font-size: 1.5rem;
    color: #6B7280;
    font-weight: 300;
    cursor: pointer;
}
.task_block{
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    max-width: 100%;
    min-width: 100%;
    height: 56px;
    max-height: fit-content;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;
}
.input_value{
    color: #EEE;
    font-size: 1.125rem;
    transition: 0.4s;
    font-weight: bold;
    padding-left: 17px;
    width: 350%;
    cursor: pointer;
}
.btns button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: lowercase;
    transition: 0.4S;
}
.btns button:hover{
    opacity: 0.8;
}
.btns button:active{
    opacity: 0.6;
}
.edit{
    color: #ec4899;
}
.delete{
    color: crimson;
}
.done_section{
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
}
.done{
    width: 20px;
    height: 20px;
    padding-left: 1rem;
}
.none_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.none_card{
    padding: 1rem ;
    background-color: #111827;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.smile{
    position: relative;
    top: 3px;
}
.cross{
    padding: 1rem;
    background-color: #1f2937;
    width: max-content;
    border-radius: 0 1rem 1rem 0;
}
.npt_cross{
    display: flex;
    width: 92%;
}
.flex_crs{
    display: flex;
}
.title{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.cross:hover{
    opacity: 0.9;
}
.cross:active{
    opacity: 0.8;
}
.btns{
    width: 15%;
}
.text_npt{
    color: red;
}
.ner1{
    color: red;
}
.wait{
    border: 2px solid white;
    width: 20px;
    height: 20px;
    border-radius: 100%;

}
.date{
    font-size: 13px;
    color: white;
    padding-left: 1rem;
}
.icons{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .container{
        width: 800px;
    }
    .btns{
        width: 20%;
    }
    .npt_cross{
        width: 88%;
    }
    .flex_crs{
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 1000px) {
    .container{
        width: 700px;
    }
    .btns{
        width: 20%;
    }
    .btns button{
        font-size: 1rem;
    }
    .input_value{
        font-size: 1rem;
    }
    .date{
        font-size: 12px;
    }
    .wait{
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }
}
@media only screen and (max-width: 745px) {
    .container{
        width: 600px;
    }
    .btns{
        width: 23%;
    }
    .btns button{
        font-size: 0.95rem;
    }
    .input_value{
        font-size: 0.95rem;
        width: 100%;
    }
    .date{
        font-size: 12px;
    }
    .add_npt{
        font-size: 0.95rem;
        padding: 0.7rem;
    }
    .add_btn{
        font-size: 0.95rem;
    }
    .task_block{
        height: 50px;
    }
    .wait{
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }
}
@media only screen and (max-width: 620px) {
    .container{
        width: 100%;
    }
    .block{
        padding: 15px;
    }
    .add_btn{
        font-size: 0.9rem;
    }
    .npt_cross{
        height: 45px;
    }
    .mid_title{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .btns{
        width: 25%;
    }
    .big_title{
        font-weight: bold;
    }
    .wait{
        width: 15px;
        height: 15px;
        border-radius: 100%;
    }
}
@media only screen and (max-width: 525px) {
    .btns button{
        font-size: 80%;
    }
    .btns{
        display: none;
    }
    .task_block{
        height: 45px;
    }
    .title{
        padding: 0 15px 0 15px ;
        flex-wrap: wrap;
        padding-top: 1rem;
        border: 1rem;
    }
    .title :nth-child(2){
        display: none;
    }
    .big_title{
        font-size: 30px;
    }
    .icons{
        display: flex;
        font-size: 1.2rem;
        margin-right: 1rem;
    }
    .same{
        margin: 5px;
    }
    .add_npt::placeholder{
        color: #e1ebff;
        font-size: 11px;
    }
    .cross{
        padding: 0.5rem 0.5rem 0.5rem 0;
        display: flex;
        align-items: center;
    }
    .done_section{
        padding-left: 1rem;
    }
    .add_npt{
        padding: 0.7rem 0 0.7rem 0.7rem;
    }
    .none_card{
        padding: 0.5rem;
        font-size: 15px;
        border-radius: 0.5rem;
        font-weight: 550;
    }
}
@media only screen and (max-width: 330px) {
    .mid_title{
        width: 100%;
    }
    .date{
        font-size: 10px;
    }
    .input_value{
        font-size: 14px;
    }
    .icons{
        font-size: 16px;
    }
    .none_card{
        padding: 0.7rem;
        font-size: 13px;
        border-radius: 0.5rem;
        font-weight: 550;
    }
}