body{
    background-color: #363753;
    background-color: #DFE3EE;
    background-color: #3e4455;
}
.back{
    height: 100vh;
    background-size:cover ;
    background-repeat: no-repeat;
    background-image: url("../images/img1.jpg");
    background-position: center;
}
.wrapper{
    width: 100%;
    height: 100%;
    background: rgba(39, 39, 39, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    width: 512px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account{
    color: white;
}
header{
    font-size: 30px;
    color: white;
    padding: 10px 0 30px 0 ;
}
.input_field{
    font-size: 15px;
    background: rgba(225, 225, 225, 0.397);
    color: white;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 0 0px 0 40px;
    outline: none;
    transition: .2s ease;
}
.input_field::placeholder{
    color: white;
}
.input_field[type="password"]{
    color: white;
}
.input_field:hover, .input_field:focus{
    background-color:  rgba(225, 225, 225, 0.45);
}
.bottom{
    width: 100%;
}
.icon{
    position: relative;
    top: -34px;
    left: 17px;
    color: white;
}
.submit{
    width:100%;
    font-size: 15px;
    color: black;
    height: 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    background:  rgba(225, 225, 225, 0.788);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.685);
    box-shadow: 1px 2px 4px 1px rgba(77, 75, 75, 0.7);
}
.href{
    color: white;
    margin-left: 10px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 900px) {
    .block{
        width: 440px;
        height: 480px;
    }
}
@media only screen and (max-width: 510px) {
    .block{
        backdrop-filter: blur(0);
        padding: 20px;
    }
    .account{
        width: 90%;
        text-align: center;
    }
    .account a{
        line-height: 35px;
    }
}